@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Please Contact Me With Any Questions or Concerns</h3>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <!--added a photo of myself. I look dumb but its fun-->
             <img src="~/Content/Photos/AndyStupidPic.jpg" />
            <div class="caption">
                <h3>Andrew Hoon</h3>
                <p>440-289-1157</p>
                <!--Email button should load up a draft from user's computer, if available-->
                <p><a href="mailto:hoonandrew1709@gmail.com" class="btn btn-primary" role="button" id="emailbutton">Email Me!</a> 
            </div>
        </div>
    </div>
</div>
